{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} 待办事项总览 {% endblock %}
</head>
<br>

{% block content %}
    <nav class=" black navbar navbar-default navbar-fixed-top">
        <div class="container">
            <h3 style="margin-top: 10px">待办事项</h3>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div style="margin-top: 100px">
                    <form  method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="content" placeholder="你需要完成什么事项" class="form-control">
                        </div>
                        <div id="sandbox-container">
                            <input type="text" name="time" placeholder="预计完成时间">
                        </div>
                        <input class="btn btn-default" type="submit" value="添加">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                {% for todo in todo_list %}
                    {% include 'todo_list/_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
{% block js %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        function finish_todo(id) {
            var allurl = "http://127.0.0.1:8000/finish-" + id
            $.ajax({
                //请求方式
                type: 'POST',
                url: allurl,
                data: id,
                success: function (result) {
                    console.log('success', result)
                },
                error: function (result) {
                    console.log('error', result)
                },
            })
        }

    </script>
{% endblock %}
</body>
</html>